html,

body {
    position: relative;
    height: 100%;
    margin-bottom: 0;
    align-items: flex;
    align-items: center;
    

}
body {
    background-color: #889696;
    font-family: Platino;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  
}

.swiper {
    width: 90%;
    max-width: 1000px;
    padding: 60% 0 60% 0;
    box-sizing: border-box;
    align-items: center;
}
.swiper-slide {
    width: 50%;
    height: 50%;
    background-color: #B8BDB5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 5vw;
    text-align: center;
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.icons i {
    font-size: 2%;
    color: #5F7470;
    align-items: righ;
}
.icons img {
    width: 40%;
    height: auto;

}
.product-content {
    display: flex;
    justify-content: space-between;
    height: auto;
}
.product-txt {
    flex-basis: 50%;
    text-align: center;
    padding-left: 0vw;
}
.product-txt span {
    font-size: 2.5vw;
    display: flex;
    color: #5F7470;
    font-weight: bold;
    text-align: flex
}
.product-txt h3 {
    font-size: 5vw;
    color: #5F7470;
 

}
.product-txt h2 {
    font-size: 3vw;
    color: #5F7470;
 

}
.product-txt p {
    font-size: 1.4vw;
    color: #D2D4C8;
}
.product-img {
    flex-basis: 100%;
    padding: 1vw;
    padding-left: 1vw;
    display: flex; 
    justify-content: center; 
}

.product-img img {
    max-width: 100%; 
    max-height: 100%; 
}

.product-img img {
    width: 150%;
   
}
.btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    color: #5F7470;
    text-decoration: none;
    text-align: flex;
}
@media screen and (min-width: 400px){
    .swiper {
        width: 100%;
    }
}
@media screen and (min-width: 400px){
    .swiper-wrapper{
        width: 100%;
    }
}
@media (min-width:320px)  { 
    .swiper-wrapper {
        width: 100%;
        padding: auto;
    }
}
@media (min-width:320px)  { 
    .product-content {
        width: auto;
        padding: auto;
    }
}
@media (min-width:320px)  { 
    .swiper-wrapper {
        width: 100%;
        padding: auto;
    }
}